   /*! normalize.css v2.1.0 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

audio,
canvas,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

html {
  font-family: sans-serif;
}

body {
  margin: 0
}

a:focus {
  outline: thin dotted
}

a:active,
a:hover {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

mark {
  background: #ff0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em
}

pre {
  white-space: pre-wrap
}

q {
  quotes: "\201C""\201D""\2018""\2019"
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 0
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.link-inherit {
}

.link-inherit:focus,
.link-inherit:hover {
  
}

.hidden {
  display: none
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  color: #444;
  background: #eee;
  border-bottom: 5px solid #ddd
}

.alert-success {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d
}

.alert-info {
  background: #d9edf7;
  border-color: #bce8f1;
  color: #31708f
}

.alert-danger {
  background: #f2dede;
  border-color: #ebccd1;
  color: #a94442
}

.alert-warning {
  background: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b
}

/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */

.book-langs-index {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  margin: 0;
  overflow: auto
}

.book-langs-index .inner {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 3px
}

.book-langs-index .inner h3 {
  margin: 0
}

.book-langs-index .inner .languages {
  list-style: none;
  padding: 20px 30px;
  margin-top: 20px;
  border-top: 1px solid #eee
}

.book-langs-index .inner .languages:after,
.book-langs-index .inner .languages:before {
  content: " ";
  display: table;
  line-height: 0
}

.book-langs-index .inner .languages:after {
  clear: both
}

.book-langs-index .inner .languages li {
  width: 50%;
  float: left;
  padding: 10px 5px;
}

@media (max-width:600px) {
  .book-langs-index .inner .languages li {
    width: 100%;
    max-width: 100%
  }
}

.book-header {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: visible;
  height: 50px;
  padding: 0 8px;
  z-index: 2;
  background: 0 0
}

.book-header h1 {
  font-size: 2.6em;
  font-weight: bold;
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
  padding-left: 0px;
}

.book-header h1 a,
.book-header h1 a:hover {  
  text-decoration: none
}

.book-header h1 i {
  display: none
}

.book-header:hover h1 {
  opacity: 1
}

.book.is-loading .book-header h1 i {
  display: inline-block
}

.book.is-loading .book-header h1 a {
  display: none
}

.book-summary {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 15px 40px 15px;
}

.book-summary ul.summary {
  list-style: none;
  margin: 0;
  padding: 0;
}

.book-summary ul.summary li {
  list-style: none
}

.book-summary ul.summary li.header {
  padding: 10px 15px;
  padding-top: 20px;
  text-transform: uppercase;
}

.book-summary ul.summary li.divider {
  height: 1px;
  margin: 7px 0;
}

.book-summary ul.summary li i.fa-check {
  right: 9px;
  top: 16px;
}

.book-summary ul.summary li.done>a {
  font-weight: 400
}

.book-summary ul.summary li.done>a i {
  display: inline
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
  display: block;
  padding: 10px 15px;
  border-bottom: none;
  background: 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative
}

.book-summary ul.summary li a:hover {
  text-decoration: underline
}

.book-summary ul.summary li a:focus {
  outline: 0
}

.book-summary ul.summary li.active>a {
  background: 0 0;
  text-decoration: none
}

.book-summary ul.summary li ul {
  padding-left: 20px
}

@media (max-width:600px) {
  .book-summary {
    width: calc(100% - 60px);
    bottom: 0;
    left: -100%
  }
}

.book.with-summary .book-summary {
  left: 0
}

.book.without-animation .book-summary {
  transition: none !important
}

.book {
  position: relative;
  width: 100%;
  height: 100%
}

.book-body {

}


.page-wrapper {
  position: relative;
  outline: 0
}

.page-inner {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 15px 40px 15px
}

.page-inner .btn-group .btn {
  border-radius: 0;
  background: #eee;
  border: 0
}

.markdown-section {
  display: block;
  word-wrap: break-word;
  overflow: hidden;  
  line-height: 1.7;
  text-size-adjust: 100%;
}

.markdown-section * {
  box-sizing: border-box;
}

.markdown-section>:first-child {
  margin-top: 0 !important
}

.markdown-section>:last-child {
  margin-bottom: 0 !important
}

.markdown-section blockquote,
.markdown-section code,
.markdown-section figure,
.markdown-section img,
.markdown-section pre,
.markdown-section table,
.markdown-section tr {
  page-break-inside: avoid
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section p {
  orphans: 3;
  widows: 3
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  page-break-after: avoid
}

.markdown-section b,
.markdown-section strong {
  font-weight: 700
}

.markdown-section em {
  font-style: italic
}

.markdown-section blockquote,
.markdown-section dl,
.markdown-section ol,
.markdown-section p,
.markdown-section table,
.markdown-section ul {
  margin-top: 0;
  margin-bottom: .85em
}

.markdown-section a {
  text-decoration: none;
  background: 0 0
}

.markdown-section a:active,
.markdown-section a:focus,
.markdown-section a:hover {
  outline: 0;
  text-decoration: underline
}

.markdown-section img {
  border: 0;
  max-width: 100%
}

.markdown-section hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none
}

.markdown-section hr:after,
.markdown-section hr:before {
  display: table;
  content: " "
}

.markdown-section hr:after {
  clear: both
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin-top: 1.275em;
  margin-bottom: .85em;
  font-weight: 700
}

.markdown-section h1 {
  font-size: 2em
}

.markdown-section h2 {
  font-size: 1.75em
}

.markdown-section h3 {
  font-size: 1.5em
}

.markdown-section h4 {
  font-size: 1.25em
}

.markdown-section h5 {
  font-size: 1em
}

.markdown-section h6 {
  font-size: 1em;
}

.markdown-section code,
.markdown-section pre {
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  margin: 0;
  padding: 0;
  border: none;
}

.markdown-section pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0;
  padding: .85em 1em;
  margin-bottom: 1.275em;
  background: #f7f7f7;
}

.markdown-section pre>code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;  
  white-space: pre;
  background: 0 0
}

.markdown-section pre>code:after,
.markdown-section pre>code:before {
  content: normal
}

.markdown-section code {
  padding: .2em;
  margin: 0;
  font-size: .92em;
  font-weight: 500;
  background-color: #f7f7f7
}

.markdown-section code:after,
.markdown-section code:before {
  letter-spacing: -.2em;
  content: "\00a0"
}

.markdown-section table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto
}

.markdown-section table td,
.markdown-section table th {
  padding: 6px 13px;
  border: 1px solid #ddd
}

.markdown-section table tr {
  background-color: #fff;
  border-top: 1px solid #ccc
}

.markdown-section table tr:nth-child(2n) {
  background-color: #f8f8f8
}

.markdown-section table th {
  font-weight: 700
}

.markdown-section ol,
.markdown-section ul {
  padding: 0;
  margin: 0;
  margin-bottom: .85em;
  padding-left: 2em
}

.markdown-section ol ol,
.markdown-section ol ul,
.markdown-section ul ol,
.markdown-section ul ul {
  margin-top: 0;
  margin-bottom: 0
}

.markdown-section ol ol {
  list-style-type: lower-roman
}

.markdown-section blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5
}

.markdown-section blockquote:first-child {
  margin-top: 0
}

.markdown-section blockquote:last-child {
  margin-bottom: 0
}

.markdown-section dl {
  padding: 0
}

.markdown-section dl dt {
  padding: 0;
  margin-top: .85em;
  font-style: italic;
  font-weight: 700
}

.markdown-section dl dd {
  padding: 0 .85em;
  margin-bottom: .85em
}

.markdown-section dd {
  margin-left: 0
}

.markdown-section .glossary-term {
  cursor: help;
  text-decoration: underline
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none
}

body,
html {
  height: 100%
}

html {

}

* {
  color: #0a0a0a;
}

a {
  font-weight: bold;
  text-decoration: underline !important;
}

body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.5pt;  
  letter-spacing: .2px;
  text-size-adjust: 100%;
}
